<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="description" content="Typical fintech app front" />
        <meta charset="utf-8">
        <title>TOBI</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="Greg" content="">
        <link rel="stylesheet" href="css/style.css">
        
        <link rel="icon" href='favicon.ico'>
    </head>

    <body>
      <div id='app'>
        <p class='demo' @click="DEMO_version = 'mobile'" v-if="DEMO_version == 'desktop'">Switch to mobile</p>
        <p class='demo' @click="DEMO_version = 'desktop'" v-if="DEMO_version == 'mobile'">Switch to desktop/tablet</p>

        <!-- wrap creates a virtual restriction of application size -->
        <div class='wrap ' :class="{ mobile: DEMO_version == 'mobile' }">
          
          <div class='content' v-if="current_page === 'accounts'" >

            <div class='block inset'>
              <p class='title'>Accounts</p>
              <span class='line inset'></span>
              <p class='text'>
                Information about your accounts.
              </p>
              <p class='text'>
                Feel free to use one or open new!
              </p>
            </div>

            <div v-for="account in accounts" :key="account.id">
              <account :balance="account.balance" :name="account.name" @click="open_tab('account', current_account)"></account>
            </div> 

            <div class='action shadow' @click="open_tab('account_new')">
              <span class='icon' id='plus'></span>
            </div>

          </div>

          <div class='content' v-if="current_page === 'account'" >

            <account_details :account = "current_account"></account_details>
            <div class='action shadow' @click="open_tab('accounts')">
              <span class='icon' id='arrow_left'></span>
            </div>

          </div>

          <div class='content' v-if="current_page === 'account_new'" >

            <account_new></account_new>
            
            <div class='action shadow' @click="open_tab('accounts')">
              <span class='icon' id='save'></span>
            </div>

            <div class='action shadow' @click="open_tab('accounts')">
              <span class='icon' id='arrow_left'></span>
            </div>
            
          </div>

          <div class='content' v-if="current_page === 'cards'" >
            <div v-for="card in cards" :key="card.id">
              <card_single :card="card" :hidden='true' @click="open_tab('card', card)"></card_single>
            </div> 
          </div>

          <div class='content' v-if="current_page === 'card'" >

            <card_single :card="current_card" :hidden='false' style="margin-bottom: 0px;"></card_single>

            <div class='block inset'>
              <p class='title'>Info</p>
             
              <p class='sub title'>Block card 
                <control_checkbox :active="current_card.locked" :name="'current_card.id'" @control_checkbox_changed="change_card(current_card)"></control_checkbox>
              </p>
  
              <p class='text'>
                Recent history:
              </p>

              <div v-for="history_el in current_card.history">
                <p class='text'>{{history_el}}</p>
              </div> 

            </div>

            <div class='action shadow' @click="open_tab('cards')">
              <span class='icon' id='arrow_left'></span>
            </div>
          </div>
          
          <div class='content' v-if="current_page === 'settings'" >
  
            <div class='block inset'>
              <p class='title'>John Woo</p>
              <span class='header_spacer'></span>
            </div>

            <div class='block inset'>
              <p class='title'>App settings:</p>
              <span class='line inset'></span>

              <p class='sub title'>Notifications 
                <control_checkbox :active="settings.notifications" :name="'notifications'" @control_checkbox_changed="control_checkbox_changed"></control_checkbox>
              </p>
              <p class='sub title'>Use biometrics 
                <control_checkbox :active="settings.biometrics" :name="'biometrics'" @control_checkbox_changed="control_checkbox_changed"></control_checkbox>
              </p>
              <p class='sub title'>Auto login 
                <control_checkbox :active="settings.autologin" :name="'autologin'" @control_checkbox_changed="control_checkbox_changed"></control_checkbox>
              </p>
              <p class='sub title'>{{theme_select.name}}
                <control_select :data="theme_select" @control_select_changed="control_select_changed"></control_select>
              </p>
              <p class='sub title'>Control Input
                <control_input :data="settings.input_1"></control_input>
              </p>
              <br>
            </div>

            <div class='block shadow account' @click="">
              <p class='title'>Change password</p>
              <span class='icon' id='arrow_right'></span>
            </div>

            <div class='block shadow account' @click="">
              <p class='title'>Contact support</p>
              <span class='icon' id='arrow_right'></span>
            </div>

            <div class='block shadow account' @click="">
              <p class='title'>Logout</p>
              <span class='icon' id='arrow_left'></span>
            </div>
  
          </div>

          <navigation :active_element="nav_active_element" @nav_click_event="nav_clicked"></navigation>
          
        </div>
        
      </div>
    </body>

    <script src="https://unpkg.com/vue@3"></script>

    <script src="components/card_single.js"></script>
    <script src="components/account.js"></script>
    <script src="components/account_details.js"></script>
    <script src="components/account_new.js"></script>
    <script src="components/nav.js"></script>
    <script src="components/bg.js"></script>

    <script src="components/control_checkbox.js"></script>
    <script src="components/control_select.js"></script>
    <script src="components/control_input.js"></script>

    <script src="app.js"></script>
</html>